@{
    ViewBag.Title = "Recuperação de Senha";
}
<div class="container">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Email de recuperação de senha enviado com sucesso.
        </p>
    </div>
</div>

