@model IEnumerable<KeViraKombinaTodos.Web.Models.PedidoItemModel>

<div>
@{
    var webGrid = new WebGrid(source: Model, defaultSort: "Descricao", canPage: true, rowsPerPage: 10);
}
@webGrid.GetHtml(
    htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
    tableStyle:"table table-responsive table-striped table-bordered",
    columns: webGrid.Columns(
        webGrid.Column("Codigo", header: "Código"),
        webGrid.Column("Descricao", header: "Descrição"),
        webGrid.Column("Preco", header: "Preço"),
        webGrid.Column("Quantidade", header: "Quantidade"),
        webGrid.Column("Carrinho", header: "Carrinho", format: @<text> @Html.ActionLink(linkText: (@item.Nocarrinho == false ? "Adicionar" : "Remover"), actionName: (@item.NoCarrinho == false ? "InserirCarrinho" : "RemoverCarrinho"), routeValues: new { id = item.ProdutoID })</text>)
    )
)
        
</div>