@model IEnumerable<KeViraKombinaTodos.Web.Models.PedidoModel>

@using GridMvc.Html
@{
    ViewBag.Title = "Entregas_Pedidos";
}
<div class="container">
    <div class="code-cut">
        @Html.Partial("_VisualizarPedido");
    </div>
</div>