@model IEnumerable<KeViraKombinaTodos.Web.Models.PedidoModel>

@using GridMvc.Html
@{
    ViewBag.Title = "Pedidos";
}

<div class="container">
    <h2>Pedidos</h2>

    @Html.Partial("_GridPedidos", Model)
</div>