<section class="banner-area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 col-xl-7">
                <h1>
                    Kevira & Kombina.
                </h1>
                <p>Suas vendas com muito mais agilidade e transparência.</p>
            </div>
        </div>
    </div>
</section>