@{
    ViewBag.Title = "Internal Pages";
}

<!--================Banner Page Title=================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Título da página</h2>
                    <p>Área de subtitulo da página caso precise de um.</p>
                </div>
                <div class="page_link">
                    <a href="/">Home</a>
                    <a href="#">Página</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Banner Page Title=================-->

<section class="sample-text-area">
    <div class="container">
        <h3 class="text-heading title_color">Texto do Título</h3>
        <p class="sample-text">
            Um texto qualquer sobre a página. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Quisque nec quam nunc. Cras faucibus nulla ac magna pharetra mattis. Integer eget scelerisque nisl,
            a ultricies elit. Donec efficitur varius lorem. Nulla a mi dapibus, dignissim nisl vitae, venenatis
            justo. Integer eros ante, malesuada sit amet vehicula at, volutpat vitae dolor. Vestibulum eget orci
            quam. Cras mattis velit id neque faucibus ornare sit amet sit amet augue.
        </p>

        <p class="sample-text">
            Aenean tincidunt pretium lacus ac ornare. In luctus tellus at erat dignissim tincidunt.
            Integer vitae imperdiet metus. Sed tempus sodales blandit. Morbi vulputate, libero at
            porttitor maximus, leo mi rutrum sapien, vitae ultrices metus tortor in odio. Sed a consequat augue,
            vel vehicula sapien. Sed sagittis imperdiet purus, a laoreet ante accumsan nec. Suspendisse volutpat
            arcu tortor, quis scelerisque nibh finibus et. Pellentesque id malesuada tellus, vel gravida lorem.
            Nullam eu commodo nisi, vitae faucibus purus. Praesent eu quam at tellus consequat accumsan pulvinar
            ac sem. Fusce aliquet commodo laoreet. Aliquam mollis pretium erat, nec convallis nisl feugiat vitae.
            Nulla et libero orci. Nam congue gravida quam et sagittis.
        </p>
    </div>
</section>


